@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-plex-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme {
  --animate-pulse-glow: pulse-glow 12s ease-in-out infinite;

  @keyframes pulse-glow {
    0%, 100% { 
      opacity: 0.8; 
      transform: scale(1); 
    }
    50% { 
      opacity: 1; 
      transform: scale(1.1); 
    }
  }
}
